/*ARQUIVO STYLE PARA PÁGINAS 2-9 */

body {font-family: 'cardo'; 
	background-color: rgba(254,255,120,0.8); 
	margin: 2% 4%; min-height: 100vh; 
	width: auto; overflow-x: hidden;}

h1 {font-size: 40px; text-align: center; color:#FFFFFF}

.caixa-laranja {text-align: center; 
	background-color: rgba(255, 144, 82, 0.9); 
	border-radius: 10px; padding: 10px; margin: 4%;
	box-shadow: 10px 10px 6px #826b6b;}

.mensagem-pg1 {text-align: center; font-size: 20px;
	font-weight:bold }

.mensagem-pg1:first-line {font-size: 28px; color: black}

#img-pgprinc {width: 15%}

/*==============================================================*/
.fundoverde {background-color:#0C5049; border-radius: 10px; 
	padding-bottom: 10px; padding-left: 5px}

.titulo-principal {text-align: center; font-size: 40px; 
	letter-spacing: 4px; color: #FFFFFF; padding-top: 10px}

#iconpsychology {display: inline; max-width: 4%; height: auto; 
	padding-left: 5px;}

.menuprincipal {color: #FFFFFF; letter-spacing: 2px; margin: 5px}
	h2 {font-size: 20px; text-align: center; 
		display: inline; line-height: 40px}

.menuprincipal a {color: #FFFFFF; text-decoration: none;
	border-radius: 10px; border: 2px groove #FFFFFF; 
	margin-inline: 5px; padding: 2px}
.menuprincipal a:hover {text-decoration: underline;}

/*==============================================================*/
.caminho {font-size: 20px; text-align: left; 
	letter-spacing: 1px; 
	padding: 5px 0 15px 0}

/*==============================================================*/
.submenu {background-color:#0C5049; border-radius: 10px; 
	width: 25%;	min-height: 50%; margin: 0 0 0 3%;
	display: inline-block; 
	position: absolute; left:15px; 
	line-height: 140%; letter-spacing: 2px;
	opacity: 0.5; transition: 300ms;}

	ul {position: relative; max-width: 80%;
		max-height: 80%; padding: 0 0 0 40px;
		overflow-wrap: break-word;}

.submenu:hover {opacity: 1}

.submenu a {color: #FFFFFF; text-decoration: none}
.submenu a:hover {text-decoration: underline;}

#icone-voltar {max-width: 12%; 
	position: relative; left:80%; top: 5px;}	

.lista {color: #FFFFFF;
	text-transform: uppercase; 
	text-align: left; font-size: 18px;
	width: auto; list-style-type: disc;}

/*==============================================================*/
  /*h3e h4 são o bloco de texto da pg2 
    h5 é da pg9 */

.conteudocentral1 {color: #000000; display: inline-block; 
	position: relative; 
	left: 28%; width: 68%; 
	border: 2px groove #000000; border-radius: 10px; 
	padding: 10px; margin: 10px 0 10px 10px}
	
	h3 {font-weight: bold; text-transform:uppercase; 
		text-align: center; font-size: 28px}
	h3 p {padding-bottom: 10px}	
	h4, h5 {text-transform:none; font-weight: medium; 
		text-align: justify; font-size: 20px; 
		line-height: 140%; letter-spacing: 1px}

/* para videos - pgs 4 e 5 */
.video {width: 100%; height: 100%;
	padding: 1% 1% 1% 6%;
	position: relative; 
	display: block;}

.conteudocentral2 {color: #000000; display: inline-block; 
	position: relative;	
	left: 28%; width: 68%; 
	border: 2px groove #000000; border-radius: 10px; 
	padding: 10px; margin: 15px 0 20px 10px}

	h3 {font-weight: bold; text-transform:uppercase; 
		text-align: center; font-size: 28px;}
	h4 {text-transform:none; text-align: justify; font-size: 20px; 
		line-height: 140%; letter-spacing: 1px}

/*==============================================================*/
#img-pg2 {display: block; position: relative;
	width: 40%;
	padding: 2% 40% 2% 35% }

#submenu-pg7 {width: 75%; overflow-wrap: break-word;}

/*=========================PG.9=================================*/

.sobre {text-align: center; border: 2px groove #000000;
	border-radius: 10px; padding: 15px;
	font-size: 20px; margin-top: 4%; 
	margin-left: 18%; margin-right: 18%;
	box-shadow: inset 3px -3px 3px #057569, inset -3px 3px 3px #057569} 

#img-sobre {max-width: 40%; margin-top: 5px; margin-bottom: 5px}
.mapa {text-align: center; 
	margin: 25px 0 25px 0;
	width: 100%; height: 100%}


/*============== para o formulário na pg9: =================== */

.titulo-contato {display: block; font-size: 20px; 
	position: relative; left: 15%; right: 15%;
	text-transform: uppercase; font-weight: bold; color: #FFFFFF; 
	letter-spacing: 2px; 
	background-color: #0C5049; box-shadow: -4px 4px 3px #057569;
	width: 75%;
	border-radius: 5px; padding: 3px;
	text-shadow: -2px 2px 1px black}

.contato-texto {display: block; text-align: center; font-weight: bold;
	color: #000000;	margin-top: 50 20px;}

.contato-texto label {display: block; font-size: 18px; 
	font-weight: bold; text-align: center; margin: 5px}

.contato-texto input {display: block; border-radius: 5px; 
	position:relative; font-size: 18px;
	width: 35%; margin: 0 auto; padding: 8px}

textarea {border-radius: 5px; padding: 8px; width: 35%}


/*======= para a parte radio =========*/

.titulo-radio {display: block; font-size: 18px; 
	text-align: center; text-transform: uppercase; 
	font-weight: bold; color: #000000;}

.contato-radio {position: relative; left: 42%;}
.contato-radio label {display: block; font-weight: bold;
	font-size: 18px; color: #000000; padding: 5px}
.contato-radio input {display: inline}

.enviar {display: block; border-radius: 5px; font-weight: bold;
	color: #FFFFFF; background-color: #0C5049; 
	font-size: 18px; position:relative; left: 44%;
	width: auto; margin: 40px 0 20px 0; padding: 8px 30px;}

.enviar:hover {font-size: 20px; transform: translate(0px, 2px); 
	box-shadow: 1px 2px 10px #0C5049;}

/* ====================================================== */
footer {font-family: 'cardo';	text-align: center; font-size: 16px;
	font-weight: 600; margin: 50px 0 20px 0;
	color: #000000; padding: 2px;
	background: rgba(12,80,73,0.3);
	border: 2px groove black; border-radius: 10px;
	transition: 300ms}

footer:hover {background: rgba(12,80,73,1);
	color: #FFFFFF}

/*================= Para dispositivos moveis ================ */

@media screen and (max-width: 450px) {
	body {background: rgba(254,255,120,0.5);}
		.fundoverde, .titulo-principal {width: 105%}
		
		.submenu {width: 25%; margin: 0 0 0 1%;
			overflow-x: scroll; 
			max-height: 70%}
		.submenu ul {padding: 0 0 0 20px;}
		.submenu nav, .lista {max-width: 90%;
			font-size: 80%;	line-height: 120%}

		#img-pg2 {width: 50%}
		.video iframe {width: 85%; height: 20%;}
		/*para manter a proporcao de 560 e 320 do iframe */
		
		.titulo-principal {font-size: 90%}
		.menuprincipal h2 {font-size: 80%}
		.caminho {font-size: 80%}

		.conteudocentral1 h3, h4 {font-size: 90%;}
			h3 p {padding-bottom: 10px}
		.conteudocentral2 h3, h4 {font-size: 90%}
			h3 p {padding-bottom: 10px}
				
		.mapa iframe {width: 85%; height: 50%;
			text-align: left;}

		.contato-radio {left: 25%}
		.sobre h5, .titulo-radio, .enviar {font-size: 90%}
		.contato-radio, .enviar {left: 15%}
		.contato-radio label, .contato-radio input {font-size: 90%}
		.contato-texto label, .contato-texto input, .titulo-contato {font-size: 90%;
			text-align: center}

		.sobre, .enviar {margin: 4% 4% 1% 4%}
		form, form p, form label  {margin: 10px 10px}
		form textarea {width: 60%;}
		.contato-texto #nomesobre, #mensagem, #email {width: 100%; 
			text-align: center;}

		footer p {font-size: 80%; 
			position: relative; bottom: 100%;}
}

