/*ARQUIVO STYLE PARA PÁGINAS 2-9 */

body {font-family: 'cardo'; background-color: #FEFF78;
	margin: 5px 15px; min-height: 100vh; width: auto; overflow-x: hidden;}

h1 {font-size: 40px; text-align: center; color:#FFFFFF}

.caixa-laranja {text-align: center; background-color: #FF9052; 
	border-radius: 10px; padding: 10px; margin: 4%;}
.mensagem-pg1 {text-align: center; font-size: 20px; }
#img-pgprinc {width: 15%}

/*==============================================================*/
.fundoverde {background-color:#0C5049; border-radius: 10px; 
	padding-bottom: 10px; padding-left: 5px}

.titulo-principal {text-align: center; font-size: 40px; 
	letter-spacing: 4px; color: #FFFFFF; padding-top: 10px}

#iconpsychology {display: inline; max-width: 4%; height: auto; 
	padding-left: 5px;}

.menuprincipal {color: #FFFFFF; letter-spacing: 2px; margin: 5px}
	h2 {font-size: 20px; text-align: center; 
		display: inline; line-height: 40px}

.menuprincipal a {color: #FFFFFF; text-decoration: none;
	border-radius: 10px; border: 2px groove #FFFFFF; 
	margin-inline: 5px; padding: 2px}
.menuprincipal a:hover {text-decoration: underline;}
/*==============================================================*/
.caminho {font-size: 20px; text-align: left; letter-spacing: 1px; 
	padding: 5px}

/*==============================================================*/
.submenu {background-color:#0C5049; border-radius: 10px; width: 25%; 
	min-height: 80%; display: inline-block; position: absolute; 
	left:15px; line-height: 140%; letter-spacing: 2px}
	ul {position: relative; max-width: 88%}

.submenu a {color: #FFFFFF; text-decoration: none}
.submenu a:hover {text-decoration: underline;}

#icone-voltar {max-width: 10%; 
	position: relative; left:80%; top: 5px;}	

.lista {color: #FFFFFF;
	text-transform: uppercase; 
	text-align: left; font-size: 20px;
	width: auto; list-style-type: disc;}

/*==============================================================*/
  /*h3e h4 são o bloco de texto da pg2 
    h5 é da pg9 */

.conteudocentral1 {color: #000000; display: inline-block; position: relative; 
	left:28%; width: 68%; border: 2px groove #000000; border-radius: 10px; 
	padding: 10px; margin-top: 30px; margin-bottom: 10px}
	h3 {font-weight: bold; text-transform:uppercase; 
		text-align: center; font-size: 28px;}
	h4, h5 {text-transform:none; font-weight: medium; text-align: justify; font-size: 20px; 
		line-height: 140%; letter-spacing: 1px}

/* para videos - pgs 4 e 5 */
.video {max-width: 6%; padding: 10px; 
	margin: 2% 20% 2% 25%; display: block;}

.conteudocentral2 {color: #000000; display: inline-block; position: relative; 
	left:28%; width: 68%; border: 2px groove #000000; border-radius: 10px; 
	padding: 10px; margin-top: 15px; margin-bottom: 20px}
	h3 {font-weight: bold; text-transform:uppercase; 
		text-align: center; font-size: 28px;}
	h4 {text-transform:none; text-align: justify; font-size: 20px; 
		line-height: 140%; letter-spacing: 1px}

/*==============================================================*/
#img-pg2 {display: inline; position:relative;
	left:40%; top:90%; width: auto; height: 200px}

#submenu-pg7 {width: 75%}

/*=========================PG.9=====================================*/

.sobre {text-align: center; border: 2px groove #000000;
	border-radius: 10px; padding: 10px;
	font-size: 20px; margin-top: 4%; margin-left: 18%; margin-right: 18%} 

#img-sobre {max-width: 40%; margin-top: 5px; margin-bottom: 5px}
.mapa {text-align: center; margin: 20px 0 20px 0}


/* para o formulário na pg9: */

.titulo-contato {display: block; font-size: 20px; 
	position: relative; left: 15%; right: 15%;
	text-transform: uppercase; font-weight: bold; color: #FFFFFF; 
	letter-spacing: 2px; background-color: #0C5049; width: 75%;
	border-radius: 5px; padding: 3px;}

.contato-texto {display: block; text-align: center; font-weight: bold;
	color: #000000;	margin-top: 50 20px;}

.contato-texto label {display: block; font-size: 18px; 
	font-weight: bold; text-align: center; margin: 5px}

.contato-texto input {display: block; border-radius: 5px; 
	position:relative; font-size: 18px;
	width: 35%; margin: 0 auto; padding: 8px}

textarea {border-radius: 5px; padding: 8px; width: 35%}


/* para a parte radio */

.titulo-radio {display: block; font-size: 18px; 
	text-align: center; text-transform: uppercase; 
	font-weight: bold; color: #000000;}

.contato-radio {position: relative; left: 42%;}
.contato-radio label {display: block; font-weight: bold;
	font-size: 18px; color: #000000; padding: 5px}
.contato-radio input {display: inline}

.enviar {display: block; border-radius: 5px; font-weight: bold;
	color: #FFFFFF; background-color: #0C5049; 
	font-size: 18px; position:relative; left: 44%;
	width: auto; margin: 40px 0 20px 0; padding: 8px 30px;}

.enviar:hover {font-size: 20px; transform: translate(0px, 2px); 
	box-shadow: 1px 2px 10px #0C5049;}


